.cards {
    padding: 1.5rem 0.1rem;
    width: 12rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
}

.link {
    background-color:#007278;
    color: white;
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5em;
}